.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  margin: 30px;
  box-shadow: 0px 10px 14px 0px #bfbfbf;
  border: 2px slid gray;
  border-radius: 10px;
  font-family: Roboto;
}

.elements-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  border-bottom: 1px solid gray;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
}

.name-input {
  height: 40px;
  width: 60%;
  outline: none;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 4px;
  padding-left: 10px;
}

.comment-input {
  height: 40%;
  width: 60%;
  outline: none;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.add-comment-img {
  width: 40%;
  height: auto;
  display: flex;
  align-self: flex-end;
}

.add-comment-btn {
  background-color: blue;
  color: white;
  border: 0px solid;
  border-radius: 5px;
  height: 40px;
  width: 140px;
}

.comments-count-container {
  width: 100%;
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}
.comments-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: flex-start;
  align-items: center;
}

.comments-count {
  width: 40px;
  height: 40px;
  border: 0px solid;
  border-radius: 5px;
  background-color: #0ea5e9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.time {
  font-size: 15px;
  color: #334155;
  font-weight: 300;
}

@media screen and (max-width: 576px) {
  .heading {
    order: -1;
  }
  .add-comment-img {
    order: -2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .name-input {
    min-width: 100%;
    order: 3;
  }
  .comment-input {
    min-width: 100%;
    order: 4;
  }
  .add-comment-btn {
    order: 5;
  }
  .elements-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
}
